main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lot
main.nlo
main.out
main.pdf
main.synctex*
main.toc
main.nav
main.snm
abstract.aux
abstract.bbl
abstract.blg
abstract.fdb_latexmk
abstract.fls
abstract.lof
abstract.log
abstract.lot
abstract.nlo
abstract.out
abstract.pdf
abstract.synctex*
abstract.toc
abstract.nav
abstract.snm
Makefile
